body {
    text-align: center;
    font-family: noto-sans, sans-serif;
}

#likeBtn,
#dislikeBtn {
    font-size: 40px;
    padding: 0 5%;
}

#submit,
#clear {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}

#commentBox {
    width: 40%;
    height: 100px;
    display: block;
    margin: 0 30%;
}

ul{
    list-style-type: none;
    padding: 0;
}